@import "bootstrap";

/*********************************** FONTS ************************************/
@font-face {
  font-family: 'Gidole-Regular';
  src: url('/fonts/Gidole-Regular.ttf');
}
/******************************** END OF FONTS ********************************/

/***************************** SHARED ACROSS PAGES ****************************/
body {
  font-family: 'Gidole-Regular';
  font-size: 17px;
}
/************************* END OF SHARED ACROSS PAGES *************************/

/********************************* NAVIGATION *********************************/
.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 45px;
}

.navbar-brand:hover {
  opacity: 0.6;
}

.nav-item a:hover {
  color: #59c6bb !important;
  opacity: 0.6;
}
/****************************** END OF NAVIGATION *****************************/

/************************************* HOME ***********************************/
#tag-line {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: right;
}

#tag-line p {
  cursor: default;
}

#got-ref {
  display: none;
  color: #59c6bb;
  font-size: 30px;
}

#tag-line:hover #got-ref {
  // Display Game of Thrones comment when hovering over the tag line
  display: block;
}

#blurb {
  font-size: 17px;
  text-align: justify;
}

#home img {
  width: 90%;
  height: auto;
}

#me {
  text-align: center;
}
/********************************* END OF HOME ********************************/

/********************************** CONTACT ***********************************/
#contact {
  text-align: right;
}

#contact a {
  margin-left: 10px;
  font-size: 30px;
  color: #59c6bb;
}

#contact a:hover {
  opacity: 0.5;
}
/******************************* END OF CONTACT *******************************/

/********************************** PROJECTS **********************************/
.project {
  margin-bottom: 30px;
}

.project img {
  width: 100%;
}

.project-bg {
  // Fit as much as can fit into the card to evenly size everything
  height: 300px;
  overflow: hidden;
}

.project-title {
  font-size: 30px;
  // Center the title vertically and horizontally
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-bg:hover img {
  // Hide the image on hover
  opacity: 0;
}

.project-bg:hover {
  // Ease in the background color on hover
  transition: .5s ease;
  background-color: #59c6bb;
}

.project-bg:hover .project-title {
  // Display project title on hover
  display: block;
  color: white;
}
/******************************* END OF PROJECTS ******************************/

/*********************************** SKILLS ***********************************/
.dot {
  // Adapted from: https://www.w3schools.com/howto/howto_css_circles.asp
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.skill-name {
  text-align: right;
  font-size: 17px;
}

.skill {
  margin-bottom: 15px;
}

.MuiExpansionPanelSummary-content-35:hover {
  color: #59c6bb;
}
/******************************* END OF SKILLS ********************************/

/*********************************** FOOTER ***********************************/
footer {
  font-size: 13px;
}
/******************************* END OF FOOTER ********************************/
