@import "bootstrap";

/*********************************** FONTS ************************************/
@font-face {
  font-family: 'Gidole-Regular';
  src: url('/fonts/Gidole-Regular.ttf');
}
/******************************** END OF FONTS ********************************/

/***************************** SHARED ACROSS PAGES ****************************/
body {
  font-family: 'Gidole-Regular';
}
/************************* END OF SHARED ACROSS PAGES *************************/

/********************************* NAVIGATION *********************************/
.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 45px;
}

.nav-item a:hover {
    color: #59c6bb !important;
}
/****************************** END OF NAVIGATION *****************************/

/************************************* HOME ***********************************/
#tag-line {
  font-size: 40px;
  text-align: right;
}

#got-ref {
  display: none;
  color: #59c6bb;
  font-size: 30px;
}

// Display Game of Thrones comment when hovering over the tag line
#tag-line:hover #got-ref {
  display: block;
}

#home img {
  width: 90%;
  height: auto;
}
/********************************* END OF HOME ********************************/
