@import "bootstrap";

/*********************************** FONTS ************************************/
@font-face {
  font-family: 'Shorelines Script Bold';
  src: url('/fonts/Shorelines Script Bold.otf');
}

@font-face {
  font-family: 'BEBAS';
  src: url('/fonts/BEBAS.ttf');
}
/******************************** END OF FONTS ********************************/

/***************************** SHARED ACROSS PAGES ****************************/
body {
  background: url('/images/bg.jpeg');
  color: #5b5e5d;
  position: relative;
}

h1 {
  font-family: 'BEBAS';
  padding: 8px 8px 8px 8px;
  background-color: #3585a8;
  color: white;
  cursor: default;
}

h1 .fas {
  font-size: 50px;
  margin-right: 10px
}

/*
Centers a div horizontally and 5% from the top on the screen;
not able to center vertically because body is relative
*/
.parent {
  position: relative;
  // top right bottom left
  margin: 5% auto auto auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Centers the contents of the parent div vertically and horizontally */
.child {
  display: table-cell;
  vertical-align: middle;
}
/************************* END OF SHARED ACROSS PAGES *************************/

/********************************* NAVIGATION *********************************/
.nav {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.nav-item {
  width: 25%;
}

.nav-link {
  color: #5b5e5d;
}

.nav-link:hover {
  opacity: 0.7;
  cursor: pointer;
  color: #5b5e5d;
}

.nav-link p {
  text-transform: uppercase;
  margin-top: 5px;
}

.nav-link .fas {
  font-size: 30px;
  color: #72b2a9;
}
/****************************** END OF NAVIGATION *****************************/

/*********************************** FOOTER ***********************************/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: right;
}

.footer img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer img:hover {
  opacity: 0.7;
}
/******************************** END OF FOOTER *******************************/

/************************************* HOME ***********************************/
#home .parent {
  width: 800px;
  height: 800px;
  text-align: center;
}

#home .child {
  // Width and height need to match those of #home for contents to be centered
  width: 800px;
  height: 800px;
}

#home h1 {
  font-family: 'Shorelines Script Bold';
  font-size: 50px;
  margin-bottom: 40px;
  color: #484949;
  text-align: center;
  background-color: transparent;
}

#home img {
  // Width and height need to match that of Paper component
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
/********************************* END OF HOME ********************************/

/************************************* ABOUT **********************************/
#about {
  padding-top: 50px;
  height: 600px;
}
/********************************* END OF ABOUT *******************************/

/********************************* COURSEWORK *********************************/
#coursework {
  padding-top: 50px;
  height: 600px;
}

#coursework h1 {
  text-align: right;
}
/****************************** END OF COURSEWORK *****************************/

/********************************** PROJECTS **********************************/
#projects {
  padding-top: 50px;
  height: 600px;
}
/******************************* END OF PROJECTS ******************************/

/********************************** CONTACT ***********************************/
#contact {
  padding-top: 50px;
  height: 600px;
}

#contact h1 {
  text-align: right;
}
/******************************* END OF CONTACT *******************************/
