.skill {
  margin-bottom: 15px;
}

.skill-name {
  font-size: 17px;
  text-align: right;
}

.skill-point {
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;
}